
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contract-new">

    <div class="contract-new-body">

        <div class="contract-inner">

            <div class="contract-inner-header">Select Outlet</div>

        </div>

    </div>


</div>

