body {
   /* padding-top: 50px;
    padding-bottom: 20px;*/
   font-family: 'Raleway',sans-serif;
    max-width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 25px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-home{
    position:relative;
    background-color:#fff;
    /*background-image: url("~/Content/Images/diageo-home-bg.jpg");*/
}


.sidebar-wrapper{
    position:absolute;
    /*background-color:#222d32;*/
    /*width: 30%;*/
    height: 100%;   

}

.sidebar-vertical{
    position:fixed;
}

.body-content-wrapper{
   position:fixed;/*absolute !important;*/
   overflow-y: scroll;
   height:100%;
   margin-top:60px !important;
   width:85%;
}

hr{
    margin-top:50px !important;
}

.content-wrapper{
    /*background-image: url("Images/logo4.jpg");
    background-repeat:no-repeat;
    background-position: center;
    
    background-size: cover;
    background-color:#e9ecf3;
        background-size: 450px 150px !important;
    */
    width: 70%;
    height: 100%;
        margin-left:200px !important;
  }

.navbar-fixed-top{
    left:200px !important;
    height:30px !important;
    background-color: #FCFFFD !important;
}

#logo{
    height:30px;
    padding-bottom:5px;
    margin-left:20px;
}

h3{
    margin-top:5px !important;
}

.user-details{
    padding-right:50px;
    padding-top:10px;
    }

.username-role{
    color:#6796D1;
    font-weight:500;
    font-size:15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*----------Page headers-----------*/

.page-header-title h3 {
    font-size:20px;
    font-weight:300;
    color:#222d32;
}

.chart{
    border: 1px solid #b8c7ce;
    border-radius: 3px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    width:500px;
    height:250px;
    padding-top:10px;
    padding-bottom:10px;
}

/*.row-wrapper-brands{
    position:absolute;
    bottom:10%;
    width:100%;
    height:50px;
}*/

.row-brands{
    position:relative;
    margin-top:12%;
}

#brand-logo{
    position:center;
    width:50%;
    height:50%;
    margin-top:25%;
}