body {
   /* padding-top: 50px;
    padding-bottom: 20px;*/
   font-family: 'Raleway',sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.body-home{
    position:relative;
    background-color:#fff;
    /*background-image: url("~/Content/Images/diageo-home-bg.jpg");*/
}


.sidebar-wrapper{
    position:absolute;
    background-color:#222d32;
    width: 200px;
    height: 100vh;   
    margin-top:-60px;

}

.sidebar-vertical{
    position:fixed;
}

.body-content-wrapper{
   /* position:absolute !important;*/
    margin-left:200px !important;
    margin-top:60px !important;
}

.content-wrapper{
    /*background-image: url("Images/logo4.jpg");
    background-repeat:no-repeat;
    background-position: center;
    
    background-size: cover;
    background-color:#e9ecf3;
        background-size: 450px 150px !important;
    */
    width: 100vw;
    height: 100vh;
  }

.navbar-fixed-top{
    left:200px !important;
    height:30px !important;
    background-color: #FCFFFD !important;
}

#logo{
    height:30px;
    padding-bottom:5px;
}

/*----------Page headers-----------*/

.page-header-title h3 {
    font-size:20px;
    font-weight:300;
    color:#222d32;
}

.chart{
    border: 1px solid #b8c7ce;
    border-radius: 3px;
}