@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="page-header-title">

        <h3>Dashboard</h3>

    </div>

    <div class="row-wrapper">

        <div class="row">

            <div class="col-md-6 chart">

                <canvas id="contracts-chart"></canvas>

            </div>

            <div class="col-md-6 chart">

                <canvas id="payments-chart"></canvas>

            </div>

        </div>

    </div>

    <div class="row-wrapper">

        <div class="row">

            <div class="col-md-6 chart">
                asas
                <br>
                <br>
                <br>
                <br>
              asas
       
           
            </div>

            <div class="col-md-6 chart">

                <canvas id="payments-chart"></canvas>

            </div>

        </div>

    </div>

</div>