@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="page-header-title">

        <h3>Dashboard</h3>

    </div>

    <div class="row-wrapper">

        <div class="row">

            <div class="col-md-6 chart">

                <canvas id="contracts-chart"></canvas>

            </div>

            <div class="col-md-6 chart">

                <canvas id="payments-chart"></canvas>

            </div>

        </div>

    </div>

    <div class="row-wrapper-brands">

        <div class="row row-brands">


            <div class="col-md-2 col-md-offset-1">

                <a href="https://www.diageo.com/en/our-brands/">
                    <img id="brand-logo" src="~/Content/Images/Brands/baileys.svg" alt="Captian morgan"/>
                </a>

            </div>

            <div class="col-md-2">

                <a href="https://www.diageo.com/en/our-brands/">
                    <img id="brand-logo" src="~/Content/Images/Brands/jb.svg" alt="JB"/>
                </a>

            </div>

            <div class="col-md-2">

                <a href="https://www.diageo.com/en/our-brands/">
                    <img id="brand-logo" src="~/Content/Images/Brands/windsor.svg" alt="JW" />
                </a>

            </div>

            <div class="col-md-2">

                <a href="https://www.diageo.com/en/our-brands/">
                    <img id="brand-logo" src="~/Content/Images/Brands/smirnoff.svg" alt="Smirnoff" />
                </a>

            </div>

            <div class="col-md-2">

                <a href="https://www.diageo.com/en/our-brands/">
                    <img id="brand-logo" src="~/Content/Images/Brands/zacapa.png" alt="zacapa" />
                </a>

            </div>

        </div>

    </div>

</div>